<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
      Gift Card Demo
    </title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Adyen JS from TEST environment (change to live for production)-->
    <script src="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.28.3/adyen.js"
            integrity="sha384-IggQn+m1LUTZjrITU2v+uYF0JhSEfV2b/+gnW75dIrsJq2POndBV533HEPHJfHiT"
            crossorigin="anonymous"></script>

    <!-- Adyen CSS from TEST environment (change to live for production)-->
    <link rel="stylesheet"
          href="https://checkoutshopper-test.adyen.com/checkoutshopper/sdk/5.28.3/adyen.css"
          integrity="sha384-2MpA/pwUY9GwUN1/eXoQL3SDsNMBV47TIywN1r5tb8JB4Shi7y5dyRZ7AwDsCnP8"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/application.css" />
  </head>
  <body>
    <header id="header">
      <a href="/">
        <img src="/images/mystore-logo.svg" alt="" />
      </a>
    </header>
    <div class="container">
      <th:block layout:fragment="content" />
    </div>
  </body>
</html>
